<div>
  <h1 class="h1"><%= picTitile %></h1>
  <p class="mt-4"><%= explanation %></p>
  <div class="d-flex justify-content-center flex-column">
    <img class="img-fluid mt-2" src="<%=url%>" alt="" />
    <p style="margin-top: 10px; opacity: 0.8; text-align: right"><%= date %></p>
  </div>
</div>
